<div class="container text-center">
    <%= flash[:message] %>
    <%= form_for :auth do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Login" %>
    <% end %>
    <br>
    <%= button_to "Sign Up", signup_path%>
</div>