<div class="container text-center">
<br><h1>Welcome to GameFinder</h1><br><br>
<h2>Review Games and read other Reviews</h2>
</div>

<div class="container text-center">
    <%= flash[:message] %>
    <%= form_for :auth do |f| %><br>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Login" %>
    <% end %>
    <br>
    <%= button_to "Sign Up", signup_path%>
</div>

<div class="container text-center">
<br><h2>What other's have said about us</h2><br><br>
<p>Tiffany - "Wow that navbar is so cool!  I am going to steal it!" <br><br>
    Devin - "If you don't read docs you won't make it look good" <br><br>
    Drew's Grandma - "I hope your class is going well! Have you found a job yet?"</p>
</div>