<!DOCTYPE html>
<html>
  <head>
    <title>Gamefinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <div class="topnav">
      <% if logged_in? %>
        <a class="active" href="/welcome/index">GameFinder Pro</a>
        <a href="/games">All Games</a>
        <a href="/reviews">Reviews</a>
        <a href="/reviews/new">Create a Review</a>
        <a href="/games/new">Add a Game</a>
        <a href="/genres/new">Add a Genre</a>
        <div style="padding-left: 1270px;">
        <a href="/users/<%= logged_in_user.id %>%"><%= logged_in_user.name %></a>
        <a href="/logout">Logout</a>
        </div>
      <% else %>
        <a class="active" href="/welcome/index">GameFinder Pro</a>
        <a href="/users/new">Create a Profile</a>
        <% end %>
        </div>
    <%= yield %>
  </body>
</html>
