<!DOCTYPE html>
<html>
  <head>
    <title>Gamefinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
<div class="topnav">
  <a class="active" href="/welcome/index">GameFinder</a>
  <a href="/games">All Games</a>
  <a href="/reviews">Reviews</a>
  <a href="/reviews/new">Create a Review</a>
  <a href="/games/new">Add a Game</a>
  <a href="/genres/new">Add a Genre</a>
  <a href="/users/new">Create a Profile</a>
</div>
    <%= yield %>
  </body>
</html>
