<!DOCTYPE html>
<html>
  <head>
    <title>Gamefinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <div class="navbar">

      <% if logged_in? %>
      <form class="form-inline">
        <a class="navbar-brand" href="/welcome/index"><%= image_tag(asset_path('gamefinder.png'), size: '95x55')%></a>
        <a class="nav-item" href="/games">All Games</a>
        <a class="nav-item" href="/reviews">Reviews</a>
        <a class="nav-item" href="/reviews/new">Create a Review</a>
        <a class="nav-item" href="/games/new">Add a Game</a>
        <a class="nav-item" href="/genres/new">Add a Genre</a>
        </form>
        <div class="topnav-nav d-flex flex-row">
        <a class="nav-item" href="/users/<%= logged_in_user.id %>%"><%= logged_in_user.name %></a>
        <a class="nav-item" href="/logout">Logout</a>
        </div>
      <% else %>
         <a class="navbar-brand" href="/welcome/index"><%= image_tag(asset_path('gamefinder.png'), size: '95x55')%></a>
        <%#<a clas="nav-item" href="/users/new">Create a Profile</a>%>
        <% end %>
        </div>
    <%= yield %>
  </body>
</html>
